.add_samples_main{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    background: #F6F7F9;
    border-radius: 5px;
    height: min-content;
    width: 30vw;
    padding:20px;
  
}
.add_samples_input{
    width: 100%;
    border: none;
    padding-bottom: 120px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #9FA7A6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

    
}

.add_samples_title{
    width: 100%;
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #3F4544;
}
.add_samples_title hr{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 42px;
    height: 4px;
    background: #0DB1A1;
    border-radius: 31px;
}

.add_samples_button{
    outline: none;
    border: none;
    background: #0DB1A1;
    border-radius: 8px;
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
    width: 100%;
    padding: 10px ;
}

@media screen and (max-width:1000px) {
    .add_samples_main{
        width: 60vw;
    }
}
@media screen and (max-width:640px) {
    .add_samples_main{
        width: 90vw;
    }
}
@media screen and (max-width:400px) {
    .add_samples_main{
        width: 100vw;
    }
    .add_samples_sub_row{
        flex-direction:column;
    }
    .add_samples_sub_row{
        padding:0;
    }
}