.mainbox{
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBECF0;
    background-blend-mode: soft-light, normal;
    border: 2px solid rgba(255, 255, 255, 0.502431);
    box-sizing: border-box;
    box-shadow: inset -10px -10px 20px #FAFBFF, inset 10px 10px 20px #A6ABBD;
    border-radius: 40px;

    margin: 5rem auto;
    padding: 2rem;
    width: 28vw;
    height: 25vw;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.image{
    margin: 1rem;
}
.mainbox p{
    font-family: Gilroy-Medium;
    font-size: 1.7rem;
    line-height: 120%;
    text-align: center;
    color: #0D2573;

    margin: 0.5rem auto;
}
@media only screen and (max-width: 800px) {
    .mainbox{
        margin: 1.5rem 1rem;
        width: 100%;
        height: auto;
    }
    .image{
        margin: 1rem;
    }
    .mainbox p{
        font-size: 20px;
        line-height: 23px;
        text-align: center;

        margin: 0.5rem auto;
    }
}
