.Root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.top_contianer_image {
  display: none;
}
.top_contianer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(/background_hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.top_contianer_content {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-image: url(/img.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50vw;
  margin-right: 2vw;
  background-attachment: scroll;
}
.top_contianer_content_title {
  margin-left: 5vw;
  margin-top: 20vh;
  flex: 1;
  max-width: 40vw;
}

.hero_heading {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 67px;
  letter-spacing: -0.02em;

  color: #FFFFFF;
}

.hero_subhead{
  font-family: Inter, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 204%;
  /* or 33px */


  color: #FFFFFF;
}

.start_now {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 200px;
  height: 56px;
  align-items: center;
  padding: 15px 10px;
  background: #32B260;
  margin-top: 2rem;
}
.start_now:hover{
  background-color:  darkgreen;
  cursor: pointer;
}
.text {
  font-family: Inter,serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */

  color: #ffffff;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
.top_container_image {
  flex: 1;
}
@media all and (max-width: 700px) {
  .top_contianer {
    Margin-bottom: 2rem;
    flex-direction: column;
  }
  .top_contianer_content{
    flex-direction: column-reverse;
    background-image: none;
  }
  .top_contianer_image {
    display: flex;
    min-height: 40vh;
    margin: auto 8vw;
    background-image: url(/img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: scroll;
  }
  .hero_heading {
    font-family: Inter, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.9rem;
    margin-bottom: 1rem;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
  }
  .hero_subhead{
    font-family: Inter, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 154%;
    color: #FFFFFF;
  }
  .top_contianer_content_title {
    margin: auto;
    margin-top: 0rem;
    max-width: 84vw;
  }
  .start_now {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 180px;
    height: 42px;
    align-items: center;
    padding: 15px 30px;
    background: #32B260;
    border-radius: 4px;
    margin-top: 1.7rem;
  }
  .text{
    font-size: 1.1rem;
    line-height: 1.2rem;
  }
  .join_hand{
    height: 60vh;
  }
  .join_hand_text{
    padding: 0rem 3rem;
    font-size: 28px;
    line-height: 135%;
    margin: 0rem 0rem 0rem;

    letter-spacing: -0.015em;

    color: #182a43;
  }
}
