.Root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.top_contianer_image {
  display: none;
}
.top_contianer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(/landingImage.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}
.top_contianer_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: scroll;
  margin-bottom: 20vh;
}

.hero_heading {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  line-height: 4.2rem;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.hero_subheading {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.hero_subheading a:hover{
  font-size: 1.45rem;
  cursor: pointer;
}
.hero_subheading span{
  padding-bottom: .14rem;
  border-bottom: 2px solid white;
  font-weight: 600;
  line-height: 1.7rem;
}

.hero_subhead{
  font-family: Inter, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 204%;
  color: #FFFFFF;
}
.contact_mobile{
  display: none;
}
@media all and (max-width: 700px) {
  .top_contianer {
    margin-bottom: 2rem;
    flex-direction: column;
    background-image: url(/finalMobile.png);
  }
  .top_contianer_content{
    background-image: none;
  }
  .hero_heading {
    font-family: Inter, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.8rem;
    text-align: center;
    padding: 0 0.7rem;
    margin-bottom: 1rem;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
  }
  .top_contianer_content {
    margin-bottom: 10vh;
    justify-content: flex-end;
  }
  .contact_mobile{
    margin-top: 15rem;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: -0.02em;
    border: #FFFFFF solid 3px;
    border-radius: 25px;
    padding: 0.9rem 2rem;
    /*background-blend-mode: color-burn;*/
    color: #FFFFFF;
    backdrop-filter: blur(10px);

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
