.Investment_container {
  padding: 4rem 2rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9FAFC;
}
.Investment_cotent_conainer {
  width: 90%;
  margin: 0rem auto 1rem auto;
  display: flex;
  flex-direction: row;
}
.Investment_content_left {
  flex: 1;
  margin: 4rem auto 3rem auto;
}
.Investment_content_left_title {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  /* identical to box height, or 222% */

  letter-spacing: 3px;
  text-transform: uppercase;

  color: #32B260;
}
.Investment_content_left_subtitle {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  letter-spacing: -1.5px;

  color: #0F2137;

}
.Investment_content_right {
  flex: 1;
  min-height: 600px;
  background-image: url(/invest.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: scroll;
}
.Investment_cotent_grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-top: 2rem;
  font-family: Inter, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 204%;
  /* or 37px */


  color: #616591;

}

.explore_more{
  margin-top: 2rem;
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 42px;
  /* #515CE9 */

  color: #515CE9;
}

.Investment_content_right_mobile {
  display: none;
}
@media all and (max-width: 1000px) {
  .Investment_cotent_conainer {
    flex-direction: column-reverse;
  }
.Investment_container {
  padding: 2rem 2rem;
  height: auto;
}
.Investment_cotent_conainer {
  width: 100%;
  margin: 0rem auto auto;
}
.Investment_content_right{
  display: none;
}
.Investment_content_right_mobile {
  display: block;
  height: 500px;
  Margin: 0rem -1rem 0rem -2rem;
  background-image: url(/invest.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: scroll;
}
}
@media all and (max-width: 600px) {
  .Investment_content_left_subtitle {
    font-size: 2rem;
    margin-top: 2rem;
    line-height: 39px;
    letter-spacing: -0.015em;
    /* #272727 */
    color: #182a43;
  }
  .Investment_content_left_title{
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 3px;
  }
  .Investment_content_right_mobile {
    display: block;
    height: 400px;
  }
}
