.Investment_container {
  padding: 4rem 2rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.top_contianer_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 5vh auto;
  justify-content: flex-start;
  align-items: center;
}
.hero_heading {
  font-family: MADE Outer Sans, serif;
  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  line-height: 67px;
  letter-spacing: 0.5px;
  max-width: 70vw;
  text-align: center;
  color: #0A0C3B;
  margin-top: 1rem;
  text-transform: uppercase;
}
.hero_heading span{
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #0A0C3B;
  /*text-outline: 1px solid #0A0C3B;*/
}
.hero_subhead{
  background-color: #753FFB;
  margin: 1rem auto;
  padding: .2rem 1rem;
  font-family: MADE Outer Sans, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.tech_container{
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5vh auto;
  justify-content: space-around;
  align-items: center;
  max-width: 70vw;
}
.tech_wrap{
  display: flex;
  box-shadow: 0 25px 100px rgba(69, 88, 157, 0.08);
  border-radius: 10px;
  background: linear-gradient(142.69deg, #BEA3FF -11.14%, #FFD19B 108.43%);
  padding: 0.15rem;
  margin: 2rem;
  width: 330px;
  height: 100%;
}
.tech{
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
}
.tech h4{
  font-family: MADE Outer Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 25px;
  color: #0F2137;
  margin: 1rem 0;
}
.tech p{
  font-family: MADE Outer Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 150%;
  color: #616591;
  margin: 1rem 0;
}

@media only screen and (max-width: 800px) {
  .top_contianer_content {
    width: 100%;
    margin: 0;
    align-items: flex-start;
  }
  .hero_heading {
    font-size: 1.8rem;
    line-height: 2.2rem;
    max-width: 100%;
    text-align: left;
    margin-top: 1rem;
  }
  .hero_heading span{
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #0A0C3B;
    /*text-outline: 1px solid #0A0C3B;*/
  }
  .hero_subhead{
    margin: 1rem 0;
    padding: .2rem 1rem;
    font-size: 1rem;
  }

  .tech_container{
    margin: 0;
    max-width: 100%;
    padding: 5rem 0 1rem;
  }
  .tech_wrap{
    padding: 0.15rem;
    margin: 1rem 0;
    width: 100%;
  }
  .tech{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
  }
  .tech h4{
    font-family: MADE Outer Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 25px;
    color: #0F2137;
    margin: 1rem 0;
  }
  .tech p{
    font-family: MADE Outer Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 150%;
    color: #616591;
    margin: 1rem 0;
  }
}
