.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5vh 8vw 3vh;
    background: #ECEDF1;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.logo{
    font-family: Gilroy-Bold, serif;
    font-style: normal;
    align-self: center;
    text-align: center;
    font-weight: normal;
    font-size: 1.5rem;
    color: #0D2573;
}
.start_now {
    background-color: #F5F5FA;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px #FFFFFF;
    border-radius: 32px;
    padding: 0.8rem 4rem;
    transition: all 1s ease 0s;
    cursor: pointer;
}
.start_now:hover{
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBECF0;
    background-blend-mode: soft-light, normal;
    box-shadow: inset -10px -10px 60px #FAFBFF, inset 10px 10px 60px #A6ABBD;
    border-radius: 40px;
}
.text {
    font-family: Gilroy-Regular;
    font-size: 1rem;
    line-height: 1rem;
    color: #0D2573;
}
@media all and (max-width: 700px) {
    .start_now{
        display: none;
    }
}
