.Resources_container {
  margin: 4rem 2rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Resources_cotent_conainer {
  width: 90%;
  margin: 4rem auto 4rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Resources_row{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  flex-direction: row;
  margin-top: 2rem;
}
.Resources_container_resource{
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 15px 15px;
  height: max-content;
  overflow: hidden;
}
.Resources_content_left_title {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: -1.5px;
  color: #0F2137;
}
.Resources_content_left_subtitle{
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #0F2137;
  opacity: 0.9;
}
.Resources_content_date{
  margin: 15px 0 0;
  font-family: Inter, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #343D48;
  opacity: 0.7;
}
.Resources_content_title{
  font-family: DM Sans, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  margin: 15px 0;
  color: #0F2137;
}
@media all and (max-width: 1000px) {
  .Resources_container {
    margin: 4rem 2rem;
    height: auto;
  }
  .Resources_cotent_conainer {
    width: 100%;
    margin: 0rem auto auto;
  }
}
@media all and (max-width: 600px) {
  .Resources_content_left_subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 39px;
    letter-spacing: -0.015em;
    /* #272727 */
    color: #182a43;
  }
}
