.Resources_container {
  margin: 4rem 2rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Resources_cotent_conainer {
  width: 90%;
  margin: 4rem auto 4rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Resources_row{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  flex-direction: row;
}
.Resources_content_left_title {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  /* identical to box height, or 222% */

  letter-spacing: 3px;
  text-transform: uppercase;

  color: #32B260;
}
.Resources_content_left_title {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  letter-spacing: -1.5px;

  color: #0F2137;

}
.Resources_content_left_subtitle{
  font-family: Inter, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */

  text-align: center;

  color: #343D48;

  opacity: 0.7;
}
.Resources_content_right {
  flex: 1;
  min-height: 600px;
  background-image: url(/home_impact_image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: scroll;
}
.Resources_cotent_grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.Resources_Quote{
  display: flex;
  min-height: 40vh;
  justify-content: center;
  align-items: center;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 65px;
  text-align: center;

  color: #0F2137;
}
.Resources_People{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.Resources_people_card{
  display: flex;
  flex-direction: row;
  height: 120px;
  align-items: center;
  padding: 25px 40px;
}
.Resources_people_card:hover{
  cursor: pointer;
}
.Resources_people_card img{
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.Resources_people_card_name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 1vw;
}
.Resources_people_card_name_name{
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0F2137;
}
.Resources_people_card_name_subname{
    font-family: Inter, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #343D48;
    opacity: 0.8;
}
.Resources_content_right_mobile {
  display: none;
}
@media all and (max-width: 1000px) {
  .Resources_cotent_conainer {
    flex-direction: column-reverse;
  }
.Resources_container {
  margin: 4rem 2rem;
  height: auto;
}
.Resources_cotent_conainer {
  width: 100%;
  margin: 0rem auto auto;
}
.Resources_content_right{
  display: none;
}
  .Resources_content_right_mobile {
    display: block;
    height: 500px;
    Margin: 0rem -1rem 0rem -2rem;
    background-image: url(/home_impact_image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: scroll;
  }
}
@media all and (max-width: 600px) {
  .Resources_content_left_subtitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 39px;
    letter-spacing: -0.015em;
    /* #272727 */
    color: #182a43;
  }
  .Resources_cotent_grid {
    margin: 1rem -2rem 0rem;
    Flex: 1;
    Justify-content: center;
    background-image: url(/missin.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
  }
}
