.Testimonial_container {
  padding: 4rem 2rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9FAFC;
}
.Testimonial_cotent_conainer {
  width: 90%;
  margin: 4rem auto 4rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Testimonial_content_left_title {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  /* identical to box height, or 222% */

  letter-spacing: 3px;
  text-transform: uppercase;

  color: #32B260;
}
.Testimonial_content_left_subtitle {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  letter-spacing: -1.5px;

  color: #0F2137;

}
.Testimonial_content_right {
  flex: 1;
  min-height: 600px;
  background-image: url(/home_impact_image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: scroll;
}
.Testimonial_cotent_grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.Testimonial_Quote{
  display: flex;
  min-height: 40vh;
  justify-content: center;
  align-items: center;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 65px;
  text-align: center;

  color: #0F2137;
}
.Testimonial_People{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.Testimonial_people_card {
  display: flex;
  flex-direction: row;
  height: 120px;
  align-items: center;
  padding: 25px 40px;
}
.Testimonial_people_card_border{
  display: flex;
  flex-direction: row;
  height: 120px;
  align-items: center;
  padding: 25px 40px;

  border-top-color: #515CE9;
  border-top-width: 3px;
  border-top-style: solid;
}
.Testimonial_people_card:hover{
  cursor: pointer;
}
.Testimonial_people_card_border:hover{
  cursor: pointer;
}
.Testimonial_people_card img{
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.Testimonial_people_card_border img{
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.Testimonial_people_card_name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 1vw;
}
.Testimonial_people_card_name_name{
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0F2137;
}
.Testimonial_people_card_name_subname{
    font-family: Inter, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #343D48;
    opacity: 0.8;
}
.Testimonial_content_right_mobile {
  display: none;
}
@media all and (max-width: 1000px) {
.Testimonial_container {
  padding: 4rem 2rem;
  height: auto;
}
.Testimonial_cotent_conainer {
  width: 100%;
  margin: 0rem auto auto;
}
.Testimonial_content_right{
  display: none;
}
.Testimonial_content_right_mobile {
  display: block;
  height: 500px;
  Margin: 0rem -1rem 0rem -2rem;
  background-image: url(/home_impact_image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: scroll;
}
}
@media all and (max-width: 600px) {
  .Testimonial_content_left_subtitle {
    font-size: 2rem;
    margin-top:1rem;
    line-height: 39px;
    letter-spacing: -0.015em;
    /* #272727 */
    color: #182a43;
  }
  .Testimonial_cotent_grid {
    margin: 1rem -2rem 0rem;
    Flex: 1;
    Justify-content: center;
    background-image: url(/missin.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
  }
  .Testimonial_People{
    flex-direction: column;
    justify-content: center;
  }
  .Testimonial_people_card_border{
    border-left-color: #515CE9;
    border-left-width: 3px;
    border-left-style: solid;
    border-top-style: none;
  }
}
