.WorkTogether_container {
  margin: 4rem 2rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start_now {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 200px;
  height: 56px;
  align-items: center;
  padding: 15px 10px;
  background: #32B260;
  margin-top: 2rem;
}
.start_now:hover{
  background-color:  darkgreen;
  cursor: pointer;
}
.text {
  font-family: Inter,serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */

  color: #ffffff;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
.WorkTogether_cotent_conainer {
  width: 90%;
  margin: 4rem auto 4rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.WorkTogether_row{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  flex-direction: row;
}
.WorkTogether_content_left_title {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  /* identical to box height, or 111% */

  letter-spacing: -1px;

  color: #0F2137;
}
.WorkTogether_content_left_subtitle{
  margin-top: 1rem;
  font-family: Inter, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  max-width: 400px;
  line-height: 30px;
  /* or 187% */

  text-align: center;

  color: #343D48;

  opacity: 0.7;
}
@media all and (max-width: 1000px) {
  .WorkTogether_container {
    margin: 4rem 2rem;
    height: auto;
  }
}
@media all and (max-width: 600px) {
  .WorkTogether_content_left_title{
    text-align: center;
    font-size: 26px;
  }
  .WorkTogether_container img{
    width: 90%;
  }
  .start_now {
    width: 160px;
    height: 46px;
    align-items: center;
    padding: 15px 10px;
    background: #32B260;
    margin-top: 2rem;
  }
  .text {
    font-size: 16px;
    line-height: 26px;
  }
}
